In [130]:
import numpy as np
import pandas  as pd

In [131]:
np.set_printoptions(suppress=True,precision = 6)

In [132]:
dataset = pd.read_csv('50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [133]:
x = dataset.drop('Profit',axis=1)

In [134]:
y = dataset['Profit']

In [135]:
x

    R&D Spend  Administration  Marketing Spend       State
0   165349.20       136897.80        471784.10    New York
1   162597.70       151377.59        443898.53  California
2   153441.51       101145.55        407934.54     Florida
3   144372.41       118671.85        383199.62    New York
4   142107.34        91391.77        366168.42     Florida
5   131876.90        99814.71        362861.36    New York
6   134615.46       147198.87        127716.82  California
7   130298.13       145530.06        323876.68     Florida
8   120542.52       148718.95        311613.29    New York
9   123334.88       108679.17        304981.62  California
10  101913.08       110594.11        229160.95     Florida
11  100671.96        91790.61        249744.55  California
12   93863.75       127320.38        249839.44     Florida
13   91992.39       135495.07        252664.93  California
14  119943.24       156547.42        256512.92     Florida
15  114523.61       122616.84        261776.23    New York
16   78013.11       121597.55        264346.06  California
17   94657.16       145077.58        282574.31    New York
18   91749.16       114175.79        294919.57     Florida
19   86419.70       153514.11             0.00    New York
20   76253.86       113867.30        298664.47  California
21   78389.47       153773.43        299737.29    New York
22   73994.56       122782.75        303319.26     Florida
23   67532.53       105751.03        304768.73     Florida
24   77044.01        99281.34        140574.81    New York
25   64664.71       139553.16        137962.62  California
26   75328.87       144135.98        134050.07     Florida
27   72107.60       127864.55        353183.81    New York
28   66051.52       182645.56        118148.20     Florida
29   65605.48       153032.06        107138.38    New York
30   61994.48       115641.28         91131.24     Florida
31   61136.38       152701.92         88218.23    New York
32   63408.86       129219.61         46085.25  California
33   55493.95       103057.49        214634.81     Florida
34   46426.07       157693.92        210797.67  California
35   46014.02        85047.44        205517.64    New York
36   28663.76       127056.21        201126.82     Florida
37   44069.95        51283.14        197029.42  California
38   20229.59        65947.93        185265.10    New York
39   38558.51        82982.09        174999.30  California
40   28754.33       118546.05        172795.67  California
41   27892.92        84710.77        164470.71     Florida
42   23640.93        96189.63        148001.11  California
43   15505.73       127382.30         35534.17    New York
44   22177.74       154806.14         28334.72  California
45    1000.23       124153.04          1903.93    New York
46    1315.46       115816.21        297114.46     Florida
47       0.00       135426.92             0.00  California
48     542.05        51743.15             0.00    New York
49       0.00       116983.80         45173.06  California

In [136]:
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [137]:
x  = pd.get_dummies(x)
x

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,0,0,1
1,162597.70,151377.59,443898.53,1,0,0
2,153441.51,101145.55,407934.54,0,1,0
3,144372.41,118671.85,383199.62,0,0,1
4,142107.34,91391.77,366168.42,0,1,0
5,131876.90,99814.71,362861.36,0,0,1
6,134615.46,147198.87,127716.82,1,0,0
7,130298.13,145530.06,323876.68,0,1,0
8,120542.52,148718.95,311613.29,0,0,1
9,123334.88,108679.17,304981.62,1,0,0
10,101913.08,110594.11,229160.95,0,1,0
11,100671.96,91790.61,249744.55,1,0,0
12,93863.75,127320.38,249839.44,0,1,0
13,91992.39,135495.07,252664.93,1,0,0
14,119943.24,156547.42,256512.92,0,1,0
15,114523.61,122616.84,261776.23,0,0,1
16,78013.11,121597.55,264346.06,1,0,0
17,94657.16,145077.58,282574.31,0,0,1
18,91749.16,114175.79,294919.57,0,1,0
19,86419.70,153514.11,0.00,0,0,1
20,76253.86,113867.30,298664.47,1,0,0
21,78389.47,153773.43,299737.29,0,0,1
22,73994.56,122782.75,303319.26,0,1,0
23,67532.53,105751.03,304768.73,0,1,0
24,77044.01,99281.34,140574.81,0,0,1
25,64664.71,139553.16,137962.62,1,0,0
26,75328.87,144135.98,134050.07,0,1,0
27,72107.60,127864.55,353183.81,0,0,1
28,66051.52,182645.56,118148.20,0,1,0
29,65605.48,153032.06,107138.38,0,0,1
30,61994.48,115641.28,91131.24,0,1,0
31,61136.38,152701.92,88218.23,0,0,1
32,63408.86,129219.61,46085.25,1,0,0
33,55493.95,103057.49,214634.81,0,1,0
34,46426.07,157693.92,210797.67,1,0,0
35,46014.02,85047.44,205517.64,0,0,1
36,28663.76,127056.21,201126.82,0,1,0
37,44069.95,51283.14,197029.42,1,0,0
38,20229.59,65947.93,185265.10,0,0,1
39,38558.51,82982.09,174999.30,1,0,0
40,28754.33,118546.05,172795.67,1,0,0
41,27892.92,84710.77,164470.71,0,1,0
42,23640.93,96189.63,148001.11,1,0,0
43,15505.73,127382.30,35534.17,0,0,1
44,22177.74,154806.14,28334.72,1,0,0
45,1000.23,124153.04,1903.93,0,0,1
46,1315.46,115816.21,297114.46,0,1,0
47,0.00,135426.92,0.00,1,0,0
48,542.05,51743.15,0.00,0,0,1
49,0.00,116983.80,45173.06,1,0,0

In [138]:
x = x.values
y = y.values

In [139]:
x

array([[165349.2 , 136897.8 , 471784.1 ,      0.  ,      0.  ,      1.  ],
       [162597.7 , 151377.59, 443898.53,      1.  ,      0.  ,      0.  ],
       [153441.51, 101145.55, 407934.54,      0.  ,      1.  ,      0.  ],
       [144372.41, 118671.85, 383199.62,      0.  ,      0.  ,      1.  ],
       [142107.34,  91391.77, 366168.42,      0.  ,      1.  ,      0.  ],
       [131876.9 ,  99814.71, 362861.36,      0.  ,      0.  ,      1.  ],
       [134615.46, 147198.87, 127716.82,      1.  ,      0.  ,      0.  ],
       [130298.13, 145530.06, 323876.68,      0.  ,      1.  ,      0.  ],
       [120542.52, 148718.95, 311613.29,      0.  ,      0.  ,      1.  ],
       [123334.88, 108679.17, 304981.62,      1.  ,      0.  ,      0.  ],
       [101913.08, 110594.11, 229160.95,      0.  ,      1.  ,      0.  ],
       [100671.96,  91790.61, 249744.55,      1.  ,      0.  ,      0.  ],
       [ 93863.75, 127320.38, 249839.44,      0.  ,      1.  ,      0.  ],
       [ 91992.39, 135495.07, 252664.93,      1.  ,      0.  ,      0.  ],
       [119943.24, 156547.42, 256512.92,      0.  ,      1.  ,      0.  ],
       [114523.61, 122616.84, 261776.23,      0.  ,      0.  ,      1.  ],
       [ 78013.11, 121597.55, 264346.06,      1.  ,      0.  ,      0.  ],
       [ 94657.16, 145077.58, 282574.31,      0.  ,      0.  ,      1.  ],
       [ 91749.16, 114175.79, 294919.57,      0.  ,      1.  ,      0.  ],
       [ 86419.7 , 153514.11,      0.  ,      0.  ,      0.  ,      1.  ],
       [ 76253.86, 113867.3 , 298664.47,      1.  ,      0.  ,      0.  ],
       [ 78389.47, 153773.43, 299737.29,      0.  ,      0.  ,      1.  ],
       [ 73994.56, 122782.75, 303319.26,      0.  ,      1.  ,      0.  ],
       [ 67532.53, 105751.03, 304768.73,      0.  ,      1.  ,      0.  ],
       [ 77044.01,  99281.34, 140574.81,      0.  ,      0.  ,      1.  ],
       [ 64664.71, 139553.16, 137962.62,      1.  ,      0.  ,      0.  ],
       [ 75328.87, 144135.98, 134050.07,      0.  ,      1.  ,      0.  ],
       [ 72107.6 , 127864.55, 353183.81,      0.  ,      0.  ,      1.  ],
       [ 66051.52, 182645.56, 118148.2 ,      0.  ,      1.  ,      0.  ],
       [ 65605.48, 153032.06, 107138.38,      0.  ,      0.  ,      1.  ],
       [ 61994.48, 115641.28,  91131.24,      0.  ,      1.  ,      0.  ],
       [ 61136.38, 152701.92,  88218.23,      0.  ,      0.  ,      1.  ],
       [ 63408.86, 129219.61,  46085.25,      1.  ,      0.  ,      0.  ],
       [ 55493.95, 103057.49, 214634.81,      0.  ,      1.  ,      0.  ],
       [ 46426.07, 157693.92, 210797.67,      1.  ,      0.  ,      0.  ],
       [ 46014.02,  85047.44, 205517.64,      0.  ,      0.  ,      1.  ],
       [ 28663.76, 127056.21, 201126.82,      0.  ,      1.  ,      0.  ],
       [ 44069.95,  51283.14, 197029.42,      1.  ,      0.  ,      0.  ],
       [ 20229.59,  65947.93, 185265.1 ,      0.  ,      0.  ,      1.  ],
       [ 38558.51,  82982.09, 174999.3 ,      1.  ,      0.  ,      0.  ],
       [ 28754.33, 118546.05, 172795.67,      1.  ,      0.  ,      0.  ],
       [ 27892.92,  84710.77, 164470.71,      0.  ,      1.  ,      0.  ],
       [ 23640.93,  96189.63, 148001.11,      1.  ,      0.  ,      0.  ],
       [ 15505.73, 127382.3 ,  35534.17,      0.  ,      0.  ,      1.  ],
       [ 22177.74, 154806.14,  28334.72,      1.  ,      0.  ,      0.  ],
       [  1000.23, 124153.04,   1903.93,      0.  ,      0.  ,      1.  ],
       [  1315.46, 115816.21, 297114.46,      0.  ,      1.  ,      0.  ],
       [     0.  , 135426.92,      0.  ,      1.  ,      0.  ,      0.  ],
       [   542.05,  51743.15,      0.  ,      0.  ,      0.  ,      1.  ],
       [     0.  , 116983.8 ,  45173.06,      1.  ,      0.  ,      0.  ]])

In [140]:
y

array([192261.83, 191792.06, 191050.39, 182901.99, 166187.94, 156991.12,
       156122.51, 155752.6 , 152211.77, 149759.96, 146121.95, 144259.4 ,
       141585.52, 134307.35, 132602.65, 129917.04, 126992.93, 125370.37,
       124266.9 , 122776.86, 118474.03, 111313.02, 110352.25, 108733.99,
       108552.04, 107404.34, 105733.54, 105008.31, 103282.38, 101004.64,
        99937.59,  97483.56,  97427.84,  96778.92,  96712.8 ,  96479.51,
        90708.19,  89949.14,  81229.06,  81005.76,  78239.91,  77798.83,
        71498.49,  69758.98,  65200.33,  64926.08,  49490.75,  42559.73,
        35673.41,  14681.4 ])

In [141]:
x = np.append(arr = np.ones((50,1)).astype(int),values=x,axis=1)
x

array([[     1.  , 165349.2 , 136897.8 , 471784.1 ,      0.  ,      0.  ,
             1.  ],
       [     1.  , 162597.7 , 151377.59, 443898.53,      1.  ,      0.  ,
             0.  ],
       [     1.  , 153441.51, 101145.55, 407934.54,      0.  ,      1.  ,
             0.  ],
       [     1.  , 144372.41, 118671.85, 383199.62,      0.  ,      0.  ,
             1.  ],
       [     1.  , 142107.34,  91391.77, 366168.42,      0.  ,      1.  ,
             0.  ],
       [     1.  , 131876.9 ,  99814.71, 362861.36,      0.  ,      0.  ,
             1.  ],
       [     1.  , 134615.46, 147198.87, 127716.82,      1.  ,      0.  ,
             0.  ],
       [     1.  , 130298.13, 145530.06, 323876.68,      0.  ,      1.  ,
             0.  ],
       [     1.  , 120542.52, 148718.95, 311613.29,      0.  ,      0.  ,
             1.  ],
       [     1.  , 123334.88, 108679.17, 304981.62,      1.  ,      0.  ,
             0.  ],
       [     1.  , 101913.08, 110594.11, 229160.95,      0.  ,      1.  ,
             0.  ],
       [     1.  , 100671.96,  91790.61, 249744.55,      1.  ,      0.  ,
             0.  ],
       [     1.  ,  93863.75, 127320.38, 249839.44,      0.  ,      1.  ,
             0.  ],
       [     1.  ,  91992.39, 135495.07, 252664.93,      1.  ,      0.  ,
             0.  ],
       [     1.  , 119943.24, 156547.42, 256512.92,      0.  ,      1.  ,
             0.  ],
       [     1.  , 114523.61, 122616.84, 261776.23,      0.  ,      0.  ,
             1.  ],
       [     1.  ,  78013.11, 121597.55, 264346.06,      1.  ,      0.  ,
             0.  ],
       [     1.  ,  94657.16, 145077.58, 282574.31,      0.  ,      0.  ,
             1.  ],
       [     1.  ,  91749.16, 114175.79, 294919.57,      0.  ,      1.  ,
             0.  ],
       [     1.  ,  86419.7 , 153514.11,      0.  ,      0.  ,      0.  ,
             1.  ],
       [     1.  ,  76253.86, 113867.3 , 298664.47,      1.  ,      0.  ,
             0.  ],
       [     1.  ,  78389.47, 153773.43, 299737.29,      0.  ,      0.  ,
             1.  ],
       [     1.  ,  73994.56, 122782.75, 303319.26,      0.  ,      1.  ,
             0.  ],
       [     1.  ,  67532.53, 105751.03, 304768.73,      0.  ,      1.  ,
             0.  ],
       [     1.  ,  77044.01,  99281.34, 140574.81,      0.  ,      0.  ,
             1.  ],
       [     1.  ,  64664.71, 139553.16, 137962.62,      1.  ,      0.  ,
             0.  ],
       [     1.  ,  75328.87, 144135.98, 134050.07,      0.  ,      1.  ,
             0.  ],
       [     1.  ,  72107.6 , 127864.55, 353183.81,      0.  ,      0.  ,
             1.  ],
       [     1.  ,  66051.52, 182645.56, 118148.2 ,      0.  ,      1.  ,
             0.  ],
       [     1.  ,  65605.48, 153032.06, 107138.38,      0.  ,      0.  ,
             1.  ],
       [     1.  ,  61994.48, 115641.28,  91131.24,      0.  ,      1.  ,
             0.  ],
       [     1.  ,  61136.38, 152701.92,  88218.23,      0.  ,      0.  ,
             1.  ],
       [     1.  ,  63408.86, 129219.61,  46085.25,      1.  ,      0.  ,
             0.  ],
       [     1.  ,  55493.95, 103057.49, 214634.81,      0.  ,      1.  ,
             0.  ],
       [     1.  ,  46426.07, 157693.92, 210797.67,      1.  ,      0.  ,
             0.  ],
       [     1.  ,  46014.02,  85047.44, 205517.64,      0.  ,      0.  ,
             1.  ],
       [     1.  ,  28663.76, 127056.21, 201126.82,      0.  ,      1.  ,
             0.  ],
       [     1.  ,  44069.95,  51283.14, 197029.42,      1.  ,      0.  ,
             0.  ],
       [     1.  ,  20229.59,  65947.93, 185265.1 ,      0.  ,      0.  ,
             1.  ],
       [     1.  ,  38558.51,  82982.09, 174999.3 ,      1.  ,      0.  ,
             0.  ],
       [     1.  ,  28754.33, 118546.05, 172795.67,      1.  ,      0.  ,
             0.  ],
       [     1.  ,  27892.92,  84710.77, 164470.71,      0.  ,      1.  ,
             0.  ],
       [     1.  ,  23640.93,  96189.63, 148001.11,      1.  ,      0.  ,
             0.  ],
       [     1.  ,  15505.73, 127382.3 ,  35534.17,      0.  ,      0.  ,
             1.  ],
       [     1.  ,  22177.74, 154806.14,  28334.72,      1.  ,      0.  ,
             0.  ],
       [     1.  ,   1000.23, 124153.04,   1903.93,      0.  ,      0.  ,
             1.  ],
       [     1.  ,   1315.46, 115816.21, 297114.46,      0.  ,      1.  ,
             0.  ],
       [     1.  ,      0.  , 135426.92,      0.  ,      1.  ,      0.  ,
             0.  ],
       [     1.  ,    542.05,  51743.15,      0.  ,      0.  ,      0.  ,
             1.  ],
       [     1.  ,      0.  , 116983.8 ,  45173.06,      1.  ,      0.  ,
             0.  ]])

In [142]:
import statsmodels.api as sm

In [143]:
sl = 0.05

In [146]:
x=x[:,:-1]
x_opt = x
x_opt

array([[     1.  , 165349.2 , 136897.8 , 471784.1 ,      0.  ,      0.  ],
       [     1.  , 162597.7 , 151377.59, 443898.53,      1.  ,      0.  ],
       [     1.  , 153441.51, 101145.55, 407934.54,      0.  ,      1.  ],
       [     1.  , 144372.41, 118671.85, 383199.62,      0.  ,      0.  ],
       [     1.  , 142107.34,  91391.77, 366168.42,      0.  ,      1.  ],
       [     1.  , 131876.9 ,  99814.71, 362861.36,      0.  ,      0.  ],
       [     1.  , 134615.46, 147198.87, 127716.82,      1.  ,      0.  ],
       [     1.  , 130298.13, 145530.06, 323876.68,      0.  ,      1.  ],
       [     1.  , 120542.52, 148718.95, 311613.29,      0.  ,      0.  ],
       [     1.  , 123334.88, 108679.17, 304981.62,      1.  ,      0.  ],
       [     1.  , 101913.08, 110594.11, 229160.95,      0.  ,      1.  ],
       [     1.  , 100671.96,  91790.61, 249744.55,      1.  ,      0.  ],
       [     1.  ,  93863.75, 127320.38, 249839.44,      0.  ,      1.  ],
       [     1.  ,  91992.39, 135495.07, 252664.93,      1.  ,      0.  ],
       [     1.  , 119943.24, 156547.42, 256512.92,      0.  ,      1.  ],
       [     1.  , 114523.61, 122616.84, 261776.23,      0.  ,      0.  ],
       [     1.  ,  78013.11, 121597.55, 264346.06,      1.  ,      0.  ],
       [     1.  ,  94657.16, 145077.58, 282574.31,      0.  ,      0.  ],
       [     1.  ,  91749.16, 114175.79, 294919.57,      0.  ,      1.  ],
       [     1.  ,  86419.7 , 153514.11,      0.  ,      0.  ,      0.  ],
       [     1.  ,  76253.86, 113867.3 , 298664.47,      1.  ,      0.  ],
       [     1.  ,  78389.47, 153773.43, 299737.29,      0.  ,      0.  ],
       [     1.  ,  73994.56, 122782.75, 303319.26,      0.  ,      1.  ],
       [     1.  ,  67532.53, 105751.03, 304768.73,      0.  ,      1.  ],
       [     1.  ,  77044.01,  99281.34, 140574.81,      0.  ,      0.  ],
       [     1.  ,  64664.71, 139553.16, 137962.62,      1.  ,      0.  ],
       [     1.  ,  75328.87, 144135.98, 134050.07,      0.  ,      1.  ],
       [     1.  ,  72107.6 , 127864.55, 353183.81,      0.  ,      0.  ],
       [     1.  ,  66051.52, 182645.56, 118148.2 ,      0.  ,      1.  ],
       [     1.  ,  65605.48, 153032.06, 107138.38,      0.  ,      0.  ],
       [     1.  ,  61994.48, 115641.28,  91131.24,      0.  ,      1.  ],
       [     1.  ,  61136.38, 152701.92,  88218.23,      0.  ,      0.  ],
       [     1.  ,  63408.86, 129219.61,  46085.25,      1.  ,      0.  ],
       [     1.  ,  55493.95, 103057.49, 214634.81,      0.  ,      1.  ],
       [     1.  ,  46426.07, 157693.92, 210797.67,      1.  ,      0.  ],
       [     1.  ,  46014.02,  85047.44, 205517.64,      0.  ,      0.  ],
       [     1.  ,  28663.76, 127056.21, 201126.82,      0.  ,      1.  ],
       [     1.  ,  44069.95,  51283.14, 197029.42,      1.  ,      0.  ],
       [     1.  ,  20229.59,  65947.93, 185265.1 ,      0.  ,      0.  ],
       [     1.  ,  38558.51,  82982.09, 174999.3 ,      1.  ,      0.  ],
       [     1.  ,  28754.33, 118546.05, 172795.67,      1.  ,      0.  ],
       [     1.  ,  27892.92,  84710.77, 164470.71,      0.  ,      1.  ],
       [     1.  ,  23640.93,  96189.63, 148001.11,      1.  ,      0.  ],
       [     1.  ,  15505.73, 127382.3 ,  35534.17,      0.  ,      0.  ],
       [     1.  ,  22177.74, 154806.14,  28334.72,      1.  ,      0.  ],
       [     1.  ,   1000.23, 124153.04,   1903.93,      0.  ,      0.  ],
       [     1.  ,   1315.46, 115816.21, 297114.46,      0.  ,      1.  ],
       [     1.  ,      0.  , 135426.92,      0.  ,      1.  ,      0.  ],
       [     1.  ,    542.05,  51743.15,      0.  ,      0.  ,      0.  ],
       [     1.  ,      0.  , 116983.8 ,  45173.06,      1.  ,      0.  ]])

In [147]:
regressor_ols = sm.OLS(endog = y,exog = x_opt).fit()

In [148]:
regressor_ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.951
Model:                            OLS   Adj. R-squared:                  0.945
Method:                 Least Squares   F-statistic:                     169.9
Date:                Thu, 06 Aug 2020   Prob (F-statistic):           1.34e-27
Time:                        23:43:24   Log-Likelihood:                -525.38
No. Observations:                  50   AIC:                             1063.
Df Residuals:                      44   BIC:                             1074.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5.008e+04   6952.587      7.204      0.000    3.61e+04    6.41e+04
x1             0.8060      0.046     17.369      0.000       0.712       0.900
x2            -0.0270      0.052     -0.517      0.608      -0.132       0.078
x3             0.0270      0.017      1.574      0.123      -0.008       0.062
x4            41.8870   3256.039      0.013      0.990   -6520.229    6604.003
x5           240.6758   3338.857      0.072      0.943   -6488.349    6969.701
==============================================================================
Omnibus:                       14.782   Durbin-Watson:                   1.283
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               21.266
Skew:                          -0.948   Prob(JB):                     2.41e-05
Kurtosis:                       5.572   Cond. No.                     1.47e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.47e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [149]:
regressor_ols.pvalues

array([0.      , 0.      , 0.607737, 0.122677, 0.989794, 0.942862])

In [150]:
mx = max(regressor_ols.pvalues)
mx

0.9897941241607429

In [151]:
import statsmodels.api as sm
def backwardElimination(x, sl):
    numVars = len(x[0])
    for i in range(0, numVars):
        regressor_OLS = sm.OLS(y, x).fit()
        maxVar = max(regressor_OLS.pvalues).astype(float)
        if maxVar > sl:
            for j in range(0, numVars - i):
                if (regressor_OLS.pvalues[j].astype(float) == maxVar):
                    x = np.delete(x, j, 1)
    regressor_OLS.summary()
    return x
 
SL = 0.05
X_opt = x[:, [0, 1, 2, 3, 4, 5]]
X_Modeled = backwardElimination(X_opt, SL)

In [152]:
X_Modeled

array([[     1.  , 165349.2 ],
       [     1.  , 162597.7 ],
       [     1.  , 153441.51],
       [     1.  , 144372.41],
       [     1.  , 142107.34],
       [     1.  , 131876.9 ],
       [     1.  , 134615.46],
       [     1.  , 130298.13],
       [     1.  , 120542.52],
       [     1.  , 123334.88],
       [     1.  , 101913.08],
       [     1.  , 100671.96],
       [     1.  ,  93863.75],
       [     1.  ,  91992.39],
       [     1.  , 119943.24],
       [     1.  , 114523.61],
       [     1.  ,  78013.11],
       [     1.  ,  94657.16],
       [     1.  ,  91749.16],
       [     1.  ,  86419.7 ],
       [     1.  ,  76253.86],
       [     1.  ,  78389.47],
       [     1.  ,  73994.56],
       [     1.  ,  67532.53],
       [     1.  ,  77044.01],
       [     1.  ,  64664.71],
       [     1.  ,  75328.87],
       [     1.  ,  72107.6 ],
       [     1.  ,  66051.52],
       [     1.  ,  65605.48],
       [     1.  ,  61994.48],
       [     1.  ,  61136.38],
       [     1.  ,  63408.86],
       [     1.  ,  55493.95],
       [     1.  ,  46426.07],
       [     1.  ,  46014.02],
       [     1.  ,  28663.76],
       [     1.  ,  44069.95],
       [     1.  ,  20229.59],
       [     1.  ,  38558.51],
       [     1.  ,  28754.33],
       [     1.  ,  27892.92],
       [     1.  ,  23640.93],
       [     1.  ,  15505.73],
       [     1.  ,  22177.74],
       [     1.  ,   1000.23],
       [     1.  ,   1315.46],
       [     1.  ,      0.  ],
       [     1.  ,    542.05],
       [     1.  ,      0.  ]])

In [153]:
from sklearn.model_selection import train_test_split as tts

In [159]:
x_train,x_test,y_train,y_test = tts(X_Modeled[:,1:],y,test_size=0.2)

In [161]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)
y_pred = regressor.predict(x_test)

In [162]:
y_pred

array([136283.595309, 103752.091902, 173366.180092, 115410.146203,
       100670.564324,  72310.044168, 115738.84667 ,  60818.252775,
       147297.218178, 152030.545081])

In [163]:
y_test

array([146121.95, 107404.34, 182901.99, 126992.93,  97483.56,  90708.19,
       111313.02,  69758.98, 129917.04, 132602.65])